*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#FCF8F2;
color:#3E2C24;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.logo{
font-family:'Cormorant Garamond',serif;
font-size:36px;
font-weight:700;
color:#C8A96A;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:#3E2C24;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#C8A96A;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
url("https://images.unsplash.com/photo-1519741497674-611481863552?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
}

.overlay{
color:white;
max-width:800px;
padding:20px;
}

.overlay h1{
font-family:'Cormorant Garamond',serif;
fo
